# 拡張子が「xlsx」のファイル
*.xlsx

# 「ddl」で始まるフォルダ
ddl*/

# VSCodeの設定
.vscode/

# binファイル(特定のディレクトリを無視する場合は先頭と末尾に/をつける)
/startForJava/processToString/bin/

# targetなど
target/
lib/

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
#.project
#.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak%  
